/* reset */
*{ margin:0; padding:0;}
html,body{ font-size:12px; color:#333; font-family:Arial,"微软雅黑","宋体";}
ul,li,dl,dt,dd,p,table,td,th{ list-style:none;}
a{ color:#444; text-decoration:none;outline:none;}
a:hover{ text-decoration:none;}
img{ border:none;}
table,th,td{ border-collapse:collapse;}
.clear{ clear:both; overflow:hidden;}
.wrap{ width:1003px; margin:0 auto;}
.w1200.wrap{ width:1200px; margin:0 auto;}
.w1230.wrap{ width:1230px; margin:0 auto;}
.red{ color:#f00; }
.orange{ color:#f60;}
.green{ color:#2b8c00;}
.f12{ font-size:12px;}
.f14{ font-size:14px;}
.f16{ font-size:16px;}
.f18{ font-size:18px;}
.c999{ color:#999;}
.h10{ height:10px;}
.h15{ height:15px;}
.h20{ height:20px;}
.h30{ height:30px;}
.i{ font-style:italic;}
.dis_none{ display:none;}
.dis_block{ display:block;}
em{ font-style:normal;}
b{ font-weight:400;}
.op{ text-decoration:line-through; color:#999; font-size:14px;font-style:italic;}
.yahei{ font-family:"微软雅黑";}
input.text{ border:#ccc 1px solid; height:22px; line-height:22px; padding:0 5px; color:#666;font-family:Verdana, Geneva, sans-serif;}
input.checkbox{ vertical-align:middle;}